html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #fff;
}
#app {
  width: 100%;
  height: 100%;
}

.pointer:hover {
  cursor: pointer;
}
.pointer *:hover {
  cursor: pointer;
}

/* 全局滚动条 */
body *::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
body *::-webkit-scrollbar-track {
  background: #000000b2;
  border-radius: 2px;
}
body *::-webkit-scrollbar-thumb {
  background: #41454b;

  border-radius: 10px;
}
body *::-webkit-scrollbar-thumb:hover {
  background: #333;
}
body *::-webkit-scrollbar-corner {
  background: #fff;
}
